---
http_interactions:
- request:
    method: get
    uri: http://scottmuc.com/podcasts_opml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - "/podcasts_opml.xml"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Nov 2014 10:48:56 GMT
- request:
    method: get
    uri: http://scottmuc.com/podcasts_opml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Fri, 14 Nov 2014 06:39:10 GMT
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>\r\n<opml version=\"1.0\">\r\n
        \ <head>\r\n    <title>Podcasts Scott Muc Listens To</title>\r\n  </head>\r\n
        \ <body>\r\n    <outline text=\"feeds\">\r\n      <outline type=\"rss\" text=\"NPR:
        Planet Money Podcast\" xmlUrl=\"http://www.npr.org/rss/podcast.php?id=510289\"
        />\r\n      <outline type=\"rss\" text=\"Giant Robots Smashing into other
        Giant Robots Podcast\" xmlUrl=\"http://podcasts.thoughtbot.com/giantrobots.xml\"
        />\r\n      <outline type=\"rss\" text=\"Song Exploder\" xmlUrl=\"http://songexploder.libsyn.com/rss\"
        />\r\n      <outline type=\"rss\" text=\"Healthy Hacker\" xmlUrl[...]
