<form method="get" action="timing">
  <label for="url">Enter url to podcast xml feed</label>
  <input id="url" name="url" type="text" />
  <input type="submit" value="Calculate Weekly Pudget" />
</form>

