<form method="get" action="timing">
  <input id="url" name="url" type="text" value="<%= @dto[:feed_url] %>" />
  <input type="submit" value="Calculate Weekly Pudget" />
</form>

<p class="result">
  <%= @dto[:time] %>
</p>

<p>
minutes per week
</p>

