<form method="get" action="timing">
  <input id="url" name="url" type="text" />
  <input type="submit" value="Calculate Weekly Pudget" />
  <input type="checkbox" name="isOpml" />This url is OPML
</form>

