<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pudget</title>
  <meta name="description" content="Pudget is a podcasting time budgeting tool">
  <meta name="author" content="Scott Muc">

  <style type="text/css">
    .main-content {
      width: 800px;
      margin: 0 auto 0 auto;
    }

    h1,h3 {
      text-align: center;
    }

    form {
      width: 550px;
      margin: 0 auto 0 auto;
    }

    form input[type=text] {
      width: 360px;
    }

    p {
      text-align: center;
    }

    p.result {
      text-align: center;
      font-size: 10em;
    }

  </style>
</head>
<body>
  <div class="main-content">
    <h1>Pudget</h1>
    <h3>The Podcasting Time Budgeting Utility</h3>

<%= yield %>
  </div>
</body>
</html>

