<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pudget</title>
  <meta name="description" content="Pudget is a podcasting time budgeting tool">
  <meta name="author" content="Scott Muc">

  <link rel="stylesheet" type="text/css" href="/stylesheets/pudget.css">
</head>
<body>
  <div class="horse">
            _|\ _/|_,
          ,((\\``-\\\\_
        ,(())      `))\
      ,(()))       ,_ \
     ((())'   |        \
     )))))     >.__     \
     ((('     /    `-. .c|
hjw          /        `-`'
  </div>
  <div class="main-content">
    <h1>Pudget Horse</h1>
    <h3>The Podcasting Time Budgeting Utility</h3>

<%= yield %>
  </div>
</body>
</html>
