<form method="get" action="timing">
  <label for="url">Enter url to podcast xml feed</label>
  <input id="url" name="url" type="text" value="<%= feed_url %>" />
  <input type="submit" value="Calculate Weekly Pudget" />
  <br />
  <input type="checkbox" name="isOpml" />This url is OPML
</form>

<% if success %>
<p class="result">
  <%= time %>
</p>

<p>
minutes per week
</p>

<% else %>
<p>
  looks like an error happened, are you sure you entered a valid url?
</p>
<% end %>
