<form method="get" action="timing">
  <input id="url" name="url" type="text" value="<%= feed_url %>" />
  <input type="submit" value="Calculate Weekly Pudget" />
  <input type="checkbox" name="isOpml" />This url is OPML
</form>

<% if success %>
<h3>Total Weekly Time Committment is: <%= podcasts.weekly_time %> minutes</h3>

<ul>
  <% podcasts.all.each do |podcast| %>
    <li>
      <h4><%= podcast.title %></h4>
      <span><%= podcast.weekly_time %> minutes</span>
    </li>
  <% end %>
</ul>

<% else %>
<p>
  looks like an error happened, are you sure you entered a valid url?
</p>
<% end %>
