Your ID is:<%= id %>

<form method="post" action="/podcast/add">
  <input id="id" name="id" type="hidden" value="<%= id %>" />
  <input id="url" name="url" type="text" value="" />
  <input type="submit" value="Add Podcast" />
</form>

<ul>
  <% podcasts.each do |podcast| %>
    <li>
      <h4><%= podcast.title %></h4>
      <span><%= podcast.weekly_time %> minutes</span>
    </li>
  <% end %>
</ul>

